.l
  float left
.r
  float: right
.clearfix
  display block
  clear both
  content ""
  visibility initial
  height:0
.blue_bg
  width: 100%
  height 564px
  background: color-bg-default
.white_bg
  width: 100%
  height 564px
  background: color-whitebg
.gridmark_main
  width: 1200px
  margin 0 auto
  height 564px
  padding-top: 61px
  // background: pink
