/* Colors */
color-primary = #393939

color-bg-default = #F2F8FC
color-whitebg = #fff

color-yellowH = #EDAB0A
color-redH = #f00

color-bg-gray = #F5F5F5


color-hover = #1975AC
color-panle = #E9F3F9
color-nav-default = #959CA8
color-nav-icon = #A6B6BF
